.intro {
  flex-direction: column;
  position: relative;
  margin-top: -6rem;
  z-index: 10;
}

.bgTitle {
  margin-top: -2rem;
  margin-left: -1rem;
  z-index: 0;

  background: conic-gradient(
    from -90deg at 50% -25%,
    rgba(0, 0, 255, 0.5),
    rgba(137, 43, 226, 0.5)
  );
  background-size: 300% 200%;
  background-clip: text;
  animation: gradient 4s linear infinite;
  user-select: none;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bgTitle p {
  font-size: clamp(4rem, 18vw, 22rem);
  font-weight: 800;
  letter-spacing: -2vw;
  color: transparent;
  white-space: nowrap;
}

@supports (-webkit-touch-callout: none) {
  .bgTitle p {
    color: rgba(255, 255, 255, 1);
  }
}
.bio {
  flex-direction: column;
}

.bio .header {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 3rem;
}

.additionalInfo {
  /* max-width: 80ch; */
  flex-direction: column;
}

.additionalInfo p {
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  line-height: 1.5;
  margin-bottom: 1rem;
  font-weight: normal;
}

.caseStudies {
  margin-top: 1rem;
  flex-direction: column;
  max-width: 64rem;
}

.casesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 640px) {
  .bgTitle p {
    line-height: unset;
  }

  .intro {
    margin-top: 2;
  }

  .casesGrid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.subtitle b {
  position: relative;
}

.frankavideo {
  display: none;
  position: absolute;
  bottom: 2rem;
  left: 0px;
}

.frankalink:hover + .frankavideo {
  display: block;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
  border-bottom: 1px dotted var(--dark); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  max-width: 160px;
  text-align: center;
  font-size: 0.85rem;
  visibility: hidden;
  background-color: var(--dark);
  color: #fff;
  padding: 0.5rem;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
