/* Main container styles */

.main {
  margin-top: 3rem;
}

.main > article,
.main > section {
  margin: 0 auto;
  max-width: 80ch;
}

/* Article styles */

.main article div {
  flex-direction: column;
}

.main article h1,
.main article h2 {
  margin-bottom: 1rem;
}

.main article img {
  position: unset !important;
}

.main article div > p,
.main article div > ul {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.main article li {
  margin-bottom: 0.5rem;
}

.main article a {
  font-weight: bold;
}

/* Section styles */

.main section {
  display: flex;
  flex-direction: column;
}

/* Description styles */

.description {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Subtitle styles */

.subtitle {
  margin-bottom: 2rem;
}

/* Cases grid styles */

.casesGrid {
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.tags {
  all: unset;
  list-style: none;
  display: flex;
}

.tags {
  all: unset;
  list-style: none;
  display: flex;
  margin-bottom: 1rem;
  user-select: none;
}

.tags :nth-child(-n + 2) {
  margin-right: 1rem;
}
