.main {
  margin-top: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main > article,
.main > section {
  max-width: 80ch;
}

.main div {
  flex-direction: column;
}

.main section {
  display: flex;
  flex-direction: column;
}

.relatedCase {
  flex-direction: column;
  margin-bottom: 2rem;
}

.relatedCase p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.description {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.main h1 {
  margin-bottom: 1rem;
}

.main h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.main h3 {
  font-weight: normal;
}

.main img {
  width: 100%;
}

.main p,
.main ul {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.main li {
  margin-bottom: 0.5rem;
}

.subtitle {
  margin-bottom: 2rem;
}

.main figure {
  border: 3px solid hsl(242, 55%, 40%);
  background-color: hsl(242, 50%, 50%);
}

.main figure img {
  border-bottom: 3px solid hsl(242, 55%, 40%);
}

.main figcaption {
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
}

.main article a {
  font-weight: bold;
}
